body{
    margin: 0px;
    text-align: center;
}
/*
.top-cont{
    
    background-color: red;
    width: 50px;
    height: 50px;
    position: absolute;
    left:100px;
    top:100px;

    
}
.med-cont{
    width: 50px;
    height: 50px;
    background-color: blue;
    position: absolute;
    left:50px;
    top:50px;
    
}
.bot-cont{
    width: 50px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    
}*/